* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272a2e;
  transition: opacity 0.3s, visibility 0.3s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader-img {
  width: 700px;
  height: 400px;
}

.loader::after {
  content: "";
  animation: loading 0.75s ease-in-out infinite;
}

@keyframes loading {
  from {
    transform: scale(2);
  }
}

#scroll-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 60px;
  border-radius: 50%;
  background: #151618;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
  padding-top: 12px;
}

#scroll-to-top:hover {
  background: #fff;
}

#scroll-top-style {
  width: 50px;
  height: 50px;
  color: #fff;
}

#scroll-top-style:hover {
  color: #151618;
}

.sub-title:first-of-type {
  padding: 10px 0 0 20px;
}

#underline {
  color: #151618;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-decoration: underline;
}

.background-image {
  background-image: url("../images/BOOK-LEA-2.jpg");
  background-repeat: space;
  background-size: cover;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-color: #b1a7a6;
  filter: grayscale(80%);
}

.info-bio {
  background-color: #c7c3bc;
  height: 100%;
  filter: grayscale(50%);
  padding: 5%;
  padding-bottom: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

.bio-section {
  width: 700px;
  margin-right: 350px;
}

#bio-text {
  font-family: "poppins", sans-serif;
  padding: 0;
  color: #151618;
  font-size: 1.4em;
  letter-spacing: 0.5px;
}

.carousel-container {
  width: 500px;
  height: 750px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.center-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.carousel-hover {
  border-radius: 10px;
  transition: all 0.3s;
}

.carousel-hover:hover {
  transform: translate(-10px, -10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel-slide {
  display: flex;
  height: 800px;
}

#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  color: #fff;
  cursor: pointer;
  left: 2%;
  height: 20px;
  width: 20px;
  transition: all 0.3s;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  color: #fff;
  cursor: pointer;
  right: 2%;
  height: 20px;
  width: 20px;
}

#prevBtn:active,
#nextBtn:active {
  color: #a7a7a7;
}

.work-section-background {
  padding-bottom: 6%;
  background-color: #3d12348c;
  height: 100%;
  width: 100%;
  filter: grayscale(50%);
  overflow-x: hidden;
}

.work-section {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  place-items: center;
  align-content: center;
}

.acade-section {
  background-color: #5a189a;
  height: 100%;
  width: 100%;
  filter: grayscale(80%);
  padding-bottom: 90px;
}

h1 {
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.1em;
  color: #3e4042;
  cursor: default;
}

.acade-section #third-sub {
  color: #d8d8d8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1.5%;
}

.description {
  letter-spacing: 0.5px;
}

li,
a,
p {
  font-size: 1rem;
  color: #3e4042;
  text-decoration: none;
  list-style: none;
}

.nav-links {
  list-style: none;
  margin-right: 50px;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
  padding-bottom: 0.25rem;
  position: relative;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 1;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #3e4042;
  transition: width 200ms ease-in-out;
}

.nav-links li a:hover::before {
  width: 68%;
  background-color: #000;
}

.nav-links .underlineExeption:hover::before {
  width: 75%;
  background-color: #000;
}

.nav-links li a {
  transition: all 0.2s;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #000;
}

i {
  font-size: 24px;
  color: #272a2e;
  cursor: pointer;
  transition: all 0.3s;
}

i:hover {
  color: #000;
}

#no-style {
  color: #dadada;
  transition: none;
  margin-left: 10px;
  cursor: default;
}

#styled {
  color: #dadada;
  cursor: pointer;
  transition: all 0.2;
}

#styled:hover {
  color: #761ad3;
}

.information {
  display: block;
  position: absolute;
  top: 30%;
  margin-left: 2%;
  line-height: 2;
  background: rgba(66, 66, 66, 0.5);
  /* backdrop-filter: blur(10px); */
  height: 19.5rem;
  width: 30rem;
  box-shadow: rgba(128, 128, 128, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
}

.sub-title {
  color: #2e2f30;
  padding: 20px 0 0 20px;
}

#productions {
  padding: 0;
  padding-right: 70px;
  padding-top: 20px;
}

.bold-basic {
  font-size: 35px;
  font-weight: 700px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

p {
  color: #fff;
  font-size: 1.2rem;
  padding: 0 20px;
}

.align-text-center {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: all 1s;
}

.show {
  filter: blur(0);
  transform: translate(0);
  opacity: 1;
}

iframe {
  height: 680px;
  width: 500px;
  border-radius: 10px;
  box-shadow: rgba(138, 20, 122, 0.418) 0px 10px 20px,
    rgba(132, 28, 146, 0.445) 0px 6px 6px;
}

.camel-style {
  color: #401070;
  font-family: "Poppins", sans-serif;
}

.acade-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.acade-info iframe {
  background: none;
  backdrop-filter: blur(0);
  box-shadow: none;
  border-radius: 10px;
  height: 45rem;
  width: 90rem;
  box-shadow: rgba(24, 24, 24, 0.418) 0px 10px 20px,
    rgba(20, 20, 20, 0.445) 0px 6px 6px;
}

.acade-info p {
  line-height: 1.5;
}

.master {
  color: #fff;
  transition: all 0.2s;
  border-bottom: 1px solid #fff;
  font-size: 1.2rem;
  margin: 0 6px;
}

.master:hover {
  color: #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
}

footer {
  background-color: #272a2e;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 50px 5% 5% 15%;
  filter: grayscale(80%);
  overflow: visible;
  overflow-x: hidden;
}

#footer-title {
  color: #dadada;
  font-size: 1.2rem;
}

form input {
  color: #dadada;
  font-size: 1.2rem;
  padding: 10px;
  width: 17rem;
  height: 3rem;
  border: 1px solid #272a2e;
  border-radius: 10px;
  background-color: #151618;
  outline: none;
}

form button[type="submit"] {
  background-color: #5a189a;
  color: #dadada;
  font-size: 1.2rem;
  padding-right: 5px;
  width: 9rem;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid #272a2e;
  outline: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #3b2e49;
}

footer ul {
  display: flex;
}

.position {
  font-size: 2rem;
  margin-right: 20px;
}

#footer-redes {
  margin-left: 2rem;
  margin-bottom: 0.5cm;
  color: #dadada;
  filter: grayscale(80%);
}

.redes-iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  gap: 15px;
}

.termns {
  background-color: #292a2b;
  padding-bottom: 20px;
  padding-right: 100px;
}

.termns p {
  font-size: 10px;
  cursor: default;
}

#last-i {
  color: #dadada;
  transition: none;
  margin-right: 5px;
  cursor: default;
  font-size: 10px;
}

#minifix {
  cursor: default !important;
}

.logo-h1{
  display: none;
}

.mobile-nav-toggle{
  display: none;
}


@media (max-width: 806px){

  .primary-navigation{
    position: fixed;
    inset: 0 0 0 45%;
    z-index: 1000;

    background: hsl(0 0% 100% / 0.50);
    backdrop-filter: blur(0.5rem);

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .primary-navigation[data-visible="true"]{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateX(0%);
  }
  
  .navOp{
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }

  .navOp[data-visible="true"]{
    transform: translateX(0%);
  }

  *{
    overflow-x: hidden;
  }

  .primary-navigation li{
    margin-top: 20px;
  }

  .nav-links{
    margin-right: 0 ;
  }

  .nav-links li{
    display: block;
    padding: 0 20px;
    padding-bottom: 0;
  }

  .nav-links li a{
    font-size: 0.8em;
  }

  .nav-links li a::before{
    display: none;
  }

  .nav-links li a::before{
    display: none;
  }

  


  .mobile-nav-toggle{
    display: block;
    z-index: 9999;
    background: url("../images/burger-menu-right-svgrepo-com.svg");
    background-size: cover;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    border: none;
    animation: all 1s;
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background: url("../images/close-svgrepo-com.svg");
    width: 2rem;
    aspect-ratio: 1;
    background-size: cover;
  }




  .background-image {
    background-image: url("../images/BOOK-LEA-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }

  h1{
    display: none;
  }

  .logo-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 6.5em;
    aspect-ratio: 1;
    
  }
  .loader{
    display: none;
  }

  .information{
    display: none;
  }


  .hidden {
    opacity: 1;
    filter: blur(5px);
    transform: none;
    transition: none;
  }
  
  .show {
    filter: blur(0);
    transform: none;
    opacity: 1;
  }

  #scroll-to-top{
    display: none;
  }
}

.carousel-container{
  display: none;
}

.bio-section {
  width: 100%;
  font-size: 10px;
  height: 100px;
  margin-right: none;
  overflow-y: scroll;
}


